{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h2>Learning Log</h2>
{% endblock page_header %}  


{% block content %}

<ul class="list-group border-bottom pb-2 mb-4">
  <div class="row">
    {% for topic in topics %}
      <div class="col-12 col-xl-6">
        <li class="list-group-item border-0">
          <a href="{% url 'learning_logs:topic' topic.id %}"><h5>
            {{ topic.text }}</a>  
          </h5>
        </li>
      </div>
    {% empty %}
      <li class="list-group-item border-0">No topics have been added yet.</li>
    {% endfor %}
  </div>
  
</ul>

<a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

{% endblock content %}